// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500&family=Montserrat:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

// --PrimaryColor: hsl(225, 50%, 48%);
//     --SecondaryColor: hsl(180, 17%, 95%);
//     --coloOne: hsl(15, 74%, 70%);
//     --colorTwo: hsl(28, 100%, 82%);
//     --HoverColor: hsl(225, 56%, 59%);
//     --whiteColor: hsl(0, 0%, 100%);

:root {
     --PrimaryColor: #2b4873;
    --SecondaryColor: #b7dae6;
    --colorOne: #d95e3f;
    --colorTwo: #f2e9b5;
    --HoverColor: #70a3c2;
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 12%);
    --textColor: hsl(240, 1%, 48%);
    --borderColor: hsl(0, 0%, 83%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: hsl(145, 145, 145);
    --inputColor: hsl(330, 12%, 97%);
    --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --transition: .4s ease-in-out;
}

// Default Styling
body {
    background: var(--whiteColor);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    cursor: pointer;
}

.section {
    padding: 4rem 0 2rem
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    font-size: 1.3rem;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.none {
    display: none;
}

.btn {
    padding: .7rem 1.5rem;
    background: var(--PrimaryColor);
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    color: var(--whiteColor);

    a {
        color: var(--whiteColor);
        font-weight: 500;
    }

    &:hover {
        background: var(--HoverColor);
    }
}

img, video {
    width: 100%;
    height: auto;
}

input {
    font-size: 100%;
    color: var(--greyText);
}

p {
    font-size: 13px;
    color: var(--greyText);
    line-height: 22px;
}

h4 {
    padding: 1rem;
    font-weight: 700;
    color: var(--blackColor);
}

h2 {
    font-size: 25px;
    padding: 1rem 0;
    color: var(--blackColor);
}
// End of Default Styling

// Navbar Styling
.navbar {
    position: fixed;
    flex-direction: column;
    width: 100%;
    z-index: 1000;

    .navbar-one, .navbar-two {
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }

    .navbar-one {
        background: var(--SecondaryColor);

        .icon:hover {
            color: var(--PrimaryColor);
        }

        .atb {
            gap: 1rem;

            span {
                color: var(--blackColor);
                font-size: 13px;
                cursor: pointer;

                &:hover {
                    color: var(--PrimaryColor);
                    font-size: 700;
                }
            }
        }
    }

    .navbar-two {
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 3rem;
        padding: 1.5rem 1rem;
        position: fixed;
        transition: .3s ease-in-out;

        .logo-div {
            .logo {
                width: 20%;
            }
        }

        @media (max-width: 768px) {
            .navbar-menu {
                position: absolute;
                background: var(--SecondaryColor);
                padding: 1.5rem;
                border-radius: 10px;
                top: 5rem;
                right: -50%;
                width: 80%;
                transform: translateX(50%);
                z-index: 2000;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                border: 3px solid var(--whiteColor);
                transition: .4s ease-in-out;

                .menu {
                    flex-direction: column;
                    gap: .5rem;

                    .list-item {
                        padding: .5rem;
                        cursor: pointer;
                        color: var(--blackColor);

                        &:hover {
                            color: var(--PrimaryColor);
                            font-weight: 700;
                        }
                    }
                }

                .btn-one {
                    display: block;
                    justify-content: center;
                    margin: auto;
                    margin-top: 1rem;

                }
            }

            .btn-two {
                display: none;
            }
        }

        .toggle-icon {
            .icon {
                font-size: 10px;
                color: var(--blackColor);
            }
        }

        .show-navbar {
            right: 50%;
            transition: .5s ease-in-out;
        }
    }

    .navbar-with-bg {
        background-color: var(--SecondaryColor);
        padding: .5rem 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
}

// Home section styling
.home {
    padding-top: 10rem;
    text-align: center;
    gap: 2rem;
    flex-direction: column;

    .main-text {
        color: var(--blackColor);
        font-weight: 700;
        font-size: 15px;
        line-height: 2.5rem;
    }

    .home-media {
        width: 100%;
        margin: 1rem auto 0;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 5rem;

        .video-div {
            width: 100%;

            .video {
                border-radius: 10rem;
            }
        }

        .plane {
            position: absolute;
            top: -10%;
        }
    }
}

// Search section Styling
.search {
    .section-container {
        width: 100%;
        padding: 1.5rem;
        border: 2px solid var(--greyBg);
        border-radius: 16px;
        row-gap: 2rem;

        .btns {
            background: var(--SecondaryColor);
            padding: .5rem;
            border-radius: 1rem;
            flex-direction: column;
            width: 100%;
            margin: auto;

            .single-btn {
                padding: .8rem 1.5rem;
                font-size: 13px;
                border-radius: 3rem;
                width: 80%;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background: var(--PrimaryColor);
                    color: var(--whiteColor);
                    font-weight: 500;
                    transition: .4s ease;
                }
            }

            .active {
                background: var(--PrimaryColor);
                color: var(--whiteColor);
                font-weight: 500;
            }
        }

        .search-inputs {
            width: 100%;
            justify-content: center;
            flex-direction: column;
            gap: 1.5rem;

            .single-input {
                .icon-div {
                    padding: 16px 10px;
                    border-radius: 3rem;
                    background: var(--SecondaryColor);
                    margin-right: 1rem;

                    .icon {
                        color: var(--blackColor);
                        opacity: .7;
                    }
                }

                .texts {
                    h4 {
                        padding-top: 0;
                        padding-bottom: .7rem;
                        color: var(--blackColor);
                        font-weight: 700;
                    }

                    input {
                        width: 95%;
                        border: none;
                        outline: none;
                        background: transparent;

                        &::placeholder {
                            font-size: 12px;
                            opacity: .5;
                        }
                    }
                }
            }

            .btn-block {
                justify-content: center;
            }
        }
    }
}

// Support section styling
.support {
    .section-container {
        .title-div {
            text-align: center;
            small {
                letter-spacing: .8rem;
                text-transform: uppercase;
                font-size: 11px;
                color: var(--blackColor);
                line-height: 1.5rem;
            }
        }

        .info-div {
            margin-top: 2rem;
            gap: 1.5rem;

            .text-div {
                gap: 1.5rem;

                .single-info {
                    .number {
                        background: var(--PrimaryColor);
                        padding: 5px 12px;
                        width: 40px;
                        border-radius: 3rem;
                        text-align: center;
                        font-size: 13px;
                        font-weight: 700;
                        color: var(--whiteColor);
                    }

                    .color-one {
                        background: var(--colorOne);
                    }

                    .color-two {
                        background: var(--colorTwo);
                    }
                }
            }

            .img-div {
                margin: auto;
                img {
                    width: 100%;
                    max-width: 420px;
                }
            }
        }
    }
}

// Info section styling
.info {
    background: var(--SecondaryColor);
    .info-container {
        .title-div {
            flex-direction: column;
            text-align: center;
            gap: 1.5rem;
            justify-content: space-between;
        }

        .cards-div {
            gap: 1.5rem;
            margin-top: 3rem;

            .single-card {
                background: var(--whiteColor);
                padding: 3rem 2rem;
                border-radius: 10rem ;
                gap: 1rem;
                text-align: center;
                margin: auto;
                height: 320px;
                width: 90%;
                max-width: 250px;

                .icon-div {
                    justify-content: center;
                    margin: auto;
                    background: var(--PrimaryColor);
                    width: max-content;
                    height: 55px;
                    padding: 1rem;
                    border-radius: 3rem;

                    .icon {
                        color: var(--whiteColor);
                    }
                }

                .card-title {
                    color: var(--blackColor);
                    font-weight: 700;
                }

                .color-one {
                    background: var(--colorOne);
                }

                .color-two {
                    background: var(--colorTwo);
                }
            }
        }
    }
}

// Lounge section styling
.lounge {
    .section-container {
        gap: 1.5rem;

        .img-div {
            margin: auto;
            img {
                width: 100%;
                max-width: 430px;
            }
        }

        .text-div {
            .grids {
                margin-top: 1rem;
                gap: 1.5rem;

                .single-grid {
                    .grid-title {
                        display: block;
                        padding-bottom: .5rem;
                        font-weight: 500;
                        color: var(--blackColor);
                    }
                }
            }
        }
    }
}

// Travelers section styling
.travelers {
    .section-container {
        text-align: center;

        .travelers-container {
            margin-top: 1rem;
            gap: 1.5rem;

            .single-traveler {
                position: relative;
                height: 320px;
                width: 85%;
                max-width: 250px;
                overflow: hidden;
                border-radius: 10rem;
                gap: 1rem;
                margin: auto;

                .destination-image, .travelers-image, .travelers-name {
                    position: absolute;
                }

                .destination-image {
                    height: 100%;
                    width: 100%;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    object-fit: cover;
                }

                .travelers-image {
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                    bottom: 30px;
                    left: 40%;
                    transform: translateX(-50%);
                    border: 5px solid rgba(225, 225, 225, 0.637);
                    transition: var(--transition);
                    animation: animated 2.3s infinite;
                }

                @keyframes animated {
                    0% {
                        transform: translateY(0px);
                    }
                    50% {
                        transform: translateY(8px);
                    }
                    100% {
                        transform: translateY(0px);
                    }
                }

                .travelers-name {
                    bottom: -100%;
                    width: 100%;
                    height: max-content;
                    background: var(--whiteColor);
                    padding: 1.5rem 1rem;
                    transition: var(--transition);
                    animation: animatedBorders 2.3s infinite;

                    span {
                        display: block;
                        color: black;
                        font-weight: 700;
                    }

                    p {
                        color: var(--PrimaryColor);
                        font-style: italic;
                    }
                }

                @keyframes animatedBorders {
                    0% {
                        border-radius: 0rem;
                    }
                    50% {
                        border-radius: 2rem;
                    }
                    100% {
                        border-radius: 0rem;
                    }
                }

                &:hover {
                    .travelers-name {
                        bottom: 0;
                        transition: 1s ease-in-out;
                    }

                    .travelers-image {
                        bottom: 100px;
                        transition: .5s ease-in-out .5s;
                    }
                }
            }
        }
    }
}

// Subcribe section styling
.subscribe {
    background: var(--SecondaryColor);

    .section-container {
        text-align: center;

        .input-div {
            margin-top: 1rem;
            flex-direction: column;
            background: var(--whiteColor);
            border-radius: 1rem;

            input {
                border: none;
                outline: none;
                background: transparent;
                padding: 1rem .5rem;

                &::placeholder {
                    font-size: 13px;
                    opacity: .5;
                }
            }

            .btn {
                width: 100%;
            }
        }
    }
}

// Footer section styling
.footer {
    background: var(--SecondaryColor);

    .section-container {
        gap: 2rem;

        .grid-one {
            gap: 1rem;
            justify-content: center;
            margin: auto;

            .logo-div {
                .logo {
                    width: 20%;
                }
            }

            .social-icon {
                margin-top: 1rem;
                gap: 1rem;

                .icon {
                    height: 30px;
                    width: 30px;
                    border-radius: 10rem;
                    border: 1px solid var(--boxShadow);
                    padding: .4rem;
                    color: var(--greyText);

                    &:hover {
                        background: var(--PrimaryColor);
                        transform: translateY(-7px);
                        transition: var(--transition);
                        border: 1px solid var(--PrimaryColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }

        .footer-links {
            display: grid;

            .link-title {
                color: var(--blackColor);
                font-weight: 500;
                display: block;
                padding-bottom: 1rem;
            }

            li a {
                display: block;
                color: var(--greyText);
                transition: var(--transition);
                width: max-content;
                padding: .3rem 0;

                &:hover {
                    transform: translateX(7px);
                    color: var(--PrimaryColor);
                }
            }
        }
    }

    .copyright-div {
        justify-content: center;
        margin-top: 1.5rem;
        padding: 1rem;
        gap: 1rem;
        border-top: 1px solid var(--greyText);
        text-align: center;
    }
}


// Media Queries
@media screen and (min-width: 480px) {
    //Home section styling
    .home {
        padding-top: 12rem;
    }

    //Search section styling
    .search {
        .section-container {
            .search-inputs {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .btn {
                    transform: translateX(50%);
                }
            }
        }
    }

    //Travel section styling
    .travelers {
        .section-container {
            .travelers-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    //Subscribe section styling
    .subscribe {
        .section-container {
            max-width: 80%;
            margin: auto;

            .input-div {
                flex-direction: row;
                padding: 0 .5rem;
                border-radius: 3rem;
            }
        }
    }

    //Footer section styling
    .footer {
        .section-container {
            align-items: flex-start;
            grid-template-columns: repeat(2, 1fr);

            .footer-links {
                justify-content: center;
            }
        }
    }
}

@media screen and (min-width: 570px) {
    //Home section styling
    .home {
        .main-text {
            width: 80%;
        }

        .home-images {
            .video {
                border-radius: 15rem;
            }

            .plane {
                position: absolute;
                width: 95%;
                top: -8%;
            }
        }
    }

    //Search section styling
    .search {
        .section-container {
            .btns {
                border-radius: 3rem;
                flex-direction: row;
            }
        }
    }

    //Support section styling
    .support {
        .section-container {
            .info-div {
                .text-div {
                    margin: 2rem 0;
                    grid-template-columns: repeat(2,1fr);

                    // .single-info:last-of-type {
                    //     transform: translateX(55%);
                    //     margin-top: 2rem;
                    // }
                }
            }
        }
    }

    //Info section styling
    .info {
        .info-container {
            .title-div {
                flex-direction: row;

                h2 {
                    text-align: left;
                    max-width: 500px;
                }
            }

            .cards-div {
                grid-template-columns: repeat(2, 1fr);

                // .single-card:last-of-type {
                //     transform: translateX(55%);
                //     margin-top: 2rem;
                // }
            }
        }
    }

    //Lounge section styling
    .lounge {
        .section-container {
            .text-div {
                .grids {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    //Subscribe section styling
    .subscribe {
        .section-container {
            .input-div {
                justify-content: space-between;

                .btn {
                    max-width: max-content;
                }
            }
        }
    }

    //Footer section styling
    .footer {
        .section-container {
            padding-top: 2rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 680px) {
    .home {
        .main-text {
        width: 80%;
        }

        .home-media {
            .video-div {
                width: 80%;
                .video {
                    height: 100%;
                    width: 100%;
                    border-radius: 15rem;
                }
            }

            .plane {
                width: 95%;
                top: -8%;
            }
        }
    }

    //Search section styling
    .search {
        .section-container {
            .search-inputs {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    //Footer section styling
    .footer {
        .section-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media screen and (min-width: 768px) {
    // Navbar section styling
    .navbar {
        align-items: center;
        .navbar-one {
            .none {
                display: flex;
                gap: 1.5rem;

                li {
                    font-size: 13px;
                    gap: .5rem;
                    color: var(--textColor);
                    &:hover {
                        color: var(--PrimaryColor);
                    text-decoration: underline;
                    }
                }
            }
        }

        .navbar-two {
            justify-content: space-between;
            align-items: center;

            .logo-div {
                .logo {
                    max-width: 20%;
                }
            }

            .menu {
                flex-direction: row;
                gap: .5rem;

                .list-item {
                    padding: 0 .5rem;
                    font-size: 14px;
                    cursor: pointer;
                    color: var(--textColor);
                    font-weight: 700;

                    &:hover {
                        color: var(--PrimaryColor);

                    }
                }
            }

            .btn-one,.toggle-icon {
                display: none;
            }
        }
    }

    // Search section styling
    .search {
        .section-container {
            .btns {
                width: 70%;
                border-radius: 3rem;
                flex-direction: row;
            }
            .search-inputs {
                display: grid;
                grid-template-columns: repeat(4,1fr);

                .btn {
                    transform: translateX(175%);
                }
            }
        }
    }

    // Support section styling
    .support {
        .section-container {
            .info-div {
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                margin-top: 5rem;
                .text-div {
                    margin-top: 0rem;
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }

    // Info section styling
    .info {
        .info-container {
            padding-right: 0 6rem;
            .title-div {
                width: 90%;
                margin: auto;
                align-items: center;
            }

            .cards-div {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    //Lounge section styling
    .lounge {
        .section-container {
            grid-template-columns: repeat(2, 1fr);
            .text-div {
                grid-area: 1;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    // Home section styling
    .home {
        padding-top: 13rem;
        .main-text {
            width: 70%;
            padding-bottom: 1.5rem;
            font-size: 22px;
            line-height: 4rem;
        }
    }

    //Search section styling
    .search {
        .section-container {
            .search-inputs {
                grid-template-columns: repeat(5, 1fr);

                .btn {
                    transform: unset;
                }
            }
        }
    }

    // Travelers section styling
    .travelers {
        .section-container {
            .travelers-container {
                grid-template-columns: repeat(4, 1fr);
                margin: 3rem 0;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    // Default styling
    p {
        font-size: 15px;
        line-height: 25px;
    }

    h4 {
        font-size: 20px;
    }

    h2 {
        font-size: 27px;
    }

    .section {
        padding: 6rem 0 4rem;
    }

    .container {
        width: 75%;
        margin: auto;
    }

    // Navbar section styling
    .navbar {
        .navbar-one, .navbar-two {
            padding: 1.5rem 5rem;
        }

        .navbar-with-bg {
            padding: 0 5rem;
        }
    }

    // Search section styling
    .search {
        width: 85%;
    }

    // Home section styling
    .home {
        .main-text {
            width: 60%;
            font-size: 25px;
            line-height: 4rem;
        }

        .home-media {
            .video-div {
                width: 90%;
                height: 300px;

                .video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 15rem;
                }
            }

            .plane {
                width: 100%;
                top: -10%;
            }
        }
    }
}

@media screen and (min-width: 1106px) {
    // Subscribe section styling
    .subscribe {
        .section-container {
            max-width: 60%;
        }
    }
}

@media screen and (min-width: 1332px) {
    // Navbar section styling
    .navbar {
        .navbar-two {
            .menu {
                gap: 1rem;

                .list-item {
                    padding: 0 1.5rem;
                    font-size: 14px;
                }
            }
        }
    }

    // Support section styling
    .support {
        .section-container  {
            .info-div {
                gap: 1rem;

                .text-div {
                    .single-info {
                        p {
                            max-width: 500px;
                        }
                    }
                }
            }
        }
    }

    // Subscribe section styling
    .subscribe {
        .section-container {
            max-width: 50%;
        }
    }
}

@media screen and (min-width: 1440px) {
    // Home section styling
    .home {
        .home-media {
            .plane {
                width: 90%;
                top: -30%;
            }
        }
    }
}

::selection {
    background: var(--PrimaryColor);
    color: var(--whiteColor);
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--greyBg);
}

::-webkit-scrollbar-thumb {
    background: var(--PrimaryColor);
    border-radius: 10px;
}